run = "python3 servidor.py"
modules = ["python-3.10"]

[deployment]
run = ["sh", "-c", "python servidor.py"]

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 3002
externalPort = 3002
