*{
    box-sizing: border-box;
}

body{
    font-family: serif;
    padding: 0px;
    background-color:rgba(255, 255, 255, 0.8);
    margin: 0;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

button:hover {
    background-color: #0056b3;
}
/*--------------gneral---------------*/
.container {
    display: grid; 
    grid-template-columns: 0.1fr 2.5fr 0.1fr; 
    grid-template-rows: 0.9fr 0.4fr 0.6fr 2.5fr 0.2fr 0.5fr 2.8fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". login-container ."
        ". . ."
        ". buttons-listServers-container ."
        ". listServers-container ."
        ". . ."
        ". buttons-messages-container ."
        ". messages-container ."
        ". . .";
}
.container div {
    border: 2px solid black;
    border-radius: 0.5rem;
}

/*--------------login---------------*/
.login-container { 
    grid-area: login-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-container h1{
    text-align: center;
    flex-grow: 1;
}
.logoutButton{
    height: fit-content;
}

/*--------------buttons list servers---------------*/
.buttons-listServers-container { 
    grid-area: buttons-listServers-container;
    align-content: space-around;
}
.buttons-listServers-container form{
    display: flex;
    flex-direction: row;
}
.labelInput-container{
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    align-content: space-around;
    
}
/*---------list servers--------------------------*/
.listServers-container { 
    grid-area: listServers-container; 
}
#servers{
    height: 100%;
    overflow: auto;
}
.listServers-container .server-container{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

/*--------------buttons servers---------------*/
.buttons-messages-container { 
    grid-area: buttons-messages-container; 
    align-content: space-around;
    padding: 2px;
}
/*--------------message server---------------*/
.messages-container { 
    grid-area: messages-container; 
}


/* Estilo para el contenedor de carga */
#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

/* Estilo para el círculo de carga */
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}